<div class="product-rows w-full overflow-hidden flex flex-col lg:flex-row mb-8">
    <div class="title mr-4 md:w-40" *ngIf="title">
        <span class="text-xl md:text-2xl font-secondary-inverse capitalize">{{title}}</span>
    </div>
    <div class="products-section relative overflow-hidden max-w-full flex md:flex-1" [class.md:pl-10]="title">
        <div class="left-arrow hidden md:flex items-center justify-start absolute left-0 z-30 fadeIn cursor-pointer"
            *ngIf="scrollable && (isScrollable || isAtStart)" [class.opacity-0]="isAtStart" (click)="scrollLeft()">
            <span
                class="material-icons pulse text-secondary mx-1 mb-1 text-4xl md:text-5xl text-secondary-inverse  relative z-50 mt-1">
                chevron_left
            </span>
        </div>
        <div class="right-arrow hidden md:flex items-center justify-end absolute right-0 z-30 fadeIn  cursor-pointer"
            *ngIf="scrollable && (isScrollable || isAtEnd)" [class.opacity-0]="isAtEnd" (click)="scrollRight()">
            <span
                class="material-icons pulse text-secondary mx-1 mb-1 text-4xl md:text-5xl text-secondary-inverse relative z-50 mt-1">
                chevron_right
            </span>
        </div>

        <div class="card-list flex items-start w-full overflow-x-auto hide-scroll" [class.flex-wrap]="!scrollable"
            [class.justify-center]="!(scrollable && isScrollable)" [class.justify-start]="scrollable && isScrollable"
            #cardList>
            <div class="card-container" *ngFor="let product of products;let last = last"
                [ngClass]=" scrollable && isScrollable ? (last ? 'mr-0' : 'mr-4 sm:mr-6 md:mr-10') : ('mr-4 sm:mr-6 md:mr-10')">
                <app-product-card [productData]="product"></app-product-card>
            </div>

        </div>
    </div>

</div>