@keyframes fadeInUp {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }

}

@-webkit-keyframes fadeInUp {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }

}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        transform: none;
        opacity: 1;
    }

}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}