@import 'variables.scss';

.bg-dark {
    background: $secondary;
}

.bg-light {
    background: $secondary-inverse;
}

.font-special {
    font-family: 'Josefin Sans';
}

.text-primary {
    color: $primary;
}

.text-secondary-inverse {
    color: $secondary-inverse;
}