@import '../../../../assets/scss/variables.scss';

.chip {
    background-color: #444 !important;
    border: 0;
    margin-right: 8px;
    ;

    ::ng-deep {
        button {
            &::before {
                border: 0;
            }
        }
    }
}

.selected {
    background-color: $primary;
}

.age-slider,
.price-slider {
    min-width: 250px;
}