<div class="gift-form w-full h-full" [class.py-20]="!products">
    <div class="header mb-8 flex items-center" [class.md:justify-center]="products || emptyScreen">

        <h2 class="text-xl md:text-3xl font-secondary-inverse capitalize flex items-center justify-center">
            <div class="back-btn mr-4 text-3xl cursor-pointer" *ngIf="products" (click)="reset()">
                <span class="material-icons">
                    arrow_back
                </span>
            </div>
            <span>{{header}}</span>
        </h2>
    </div>
    <div class="body">
        <div class="loader flex flex-col items-center justify-center fadeIn" *ngIf="loadingProducts">
            <div class="icon">
                <span class="animate-spin material-icons pulse text-secondary-inverse mx-1">
                    refresh
                </span>
            </div>

            <h3 class="text-secondary-inverse text-xl font-semibold">Picking the perfect gift...</h3>
        </div>
        <div class="questions flex flex-col fadeIn" *ngIf="!loadingProducts && !products && !emptyScreen">
            <div class="flex py-4 mb-4 items-center justify-between flex-wrap">
                <div class="age">
                    <div class="py-2">
                        <h3 class="text-secondary-inverse">Age of the recipient?</h3>
                    </div>
                    <div class="flex items-center">

                        <div class="text-secondary-inverse text-xl font-semibold mr-8">Age: {{age}}</div>
                        <mat-slider class="w-full age-slider" min="1" max="100" step="1" #slider (change)="change()"
                            discrete>
                            <input [(ngModel)]="age" matSliderThumb>
                        </mat-slider>
                    </div>

                </div>
            </div>
            <div class="flex py-2 mb-4 items-center justify-between flex-wrap">
                <div class="age">
                    <div class="py-2">
                        <h3 class="text-secondary-inverse">Budget?</h3>
                    </div>
                    <div class="flex items-center">

                        <mat-chip-listbox class="options flex" aria-label="Price selection"
                            [(ngModel)]="selectedPriceId">
                            <mat-chip-option [ngClass]="selectedPriceId == obj.id ? 'selected' :'chip'" [value]="obj.id"
                                *ngFor="let obj of priceList" (click)="setPrice(obj)">
                                <span
                                    class="text-sm text-secondary-inverse tracking-wide capitalize">{{obj.label}}</span>
                            </mat-chip-option>
                        </mat-chip-listbox>
                    </div>
                    <div class="custom pt-4">
                        <mat-form-field>
                            <mat-label>Min Price</mat-label>
                            <span matPrefix>₹ &nbsp;</span>
                            <input [max]="price.max" type="number" class="bg-dark text-secondary-inverse" matInput
                                [(ngModel)]="price.min" (ngModelChange)="price.id = 1 && selectedPriceId= 1"
                                label="Min Price">
                        </mat-form-field>
                        to
                        <mat-form-field>
                            <mat-label>Max Price</mat-label>
                            <span matPrefix>₹ &nbsp;</span>
                            <input [min]="price.min" type="number" class="bg-dark text-secondary-inverse" matInput
                                [(ngModel)]="price.max" (ngModelChange)="price.id = 1 && selectedPriceId= 1"
                                label="Max Price"></mat-form-field>
                    </div>

                </div>
            </div>
            <div class="flex py-4 mb-4 items-center">
                <div class="gender mr-2">
                    <div class="py-2">
                        <h3 class="text-secondary-inverse">Gender of the recipient?</h3>
                    </div>
                    <mat-chip-listbox class="options flex" aria-label="Gender selection" [(ngModel)]="gender"
                        (ngModelChange)="changeRelationship()">
                        <mat-chip-option [ngClass]="gender == obj ? 'selected' :'chip'" *ngFor="let obj of genders">
                            <span class="text-sm text-secondary-inverse tracking-wide capitalize">{{obj}}</span>
                        </mat-chip-option>
                    </mat-chip-listbox>
                </div>
            </div>
            <div class="flex py-4 mb-4 items-center">
                <div class="relationship">
                    <div class="py-2">
                        <h3 class="text-secondary-inverse">Relationship with the recipient?</h3>
                    </div>
                    <mat-chip-listbox class="options flex" aria-label="relationship selection"
                        [(ngModel)]="relationship">
                        <mat-chip-option [ngClass]="relationship == obj ? 'selected' :'chip'"
                            *ngFor="let obj of relationships">
                            <span class="text-sm text-secondary-inverse tracking-wide capitalize">{{obj}}</span>
                        </mat-chip-option>

                    </mat-chip-listbox>
                    <!-- <div class="text-secondary-inverse text-xl font-semibold">relationships: {{relationship}}</div> -->
                </div>
            </div>
            <div class="flex py-4 mb-4 items-center">
                <div class="occassion">
                    <div class="py-2">
                        <h3 class="text-secondary-inverse">Occassion?</h3>
                    </div>
                    <mat-chip-listbox class="options flex" aria-label="Occasions selection" [(ngModel)]="occasion"
                        selectable multiple>
                        <mat-chip-option [ngClass]="occasion.indexOf(obj) == -1 ? 'chip' :'selected'"
                            *ngFor="let obj of occasions">
                            <span class="text-sm text-secondary-inverse tracking-wide capitalize">{{obj}}</span>
                        </mat-chip-option>

                    </mat-chip-listbox>
                    <!-- <div class="text-secondary-inverse text-xl font-semibold">occasions: {{occasion}}</div> -->
                </div>
            </div>
            <div class="flex py-4 mb-4 items-center">
                <div class="interest">
                    <div class="py-2">
                        <h3 class="text-secondary-inverse">You would define the recipient as ?</h3>
                    </div>
                    <mat-chip-listbox class="options flex" aria-label="interests selection" [(ngModel)]="interest"
                        selectable multiple>
                        <mat-chip-option [ngClass]="interest.indexOf(obj.value) == -1 ? 'chip' :'selected'"
                            *ngFor="let obj of interestLabelMap" [value]="obj.value">
                            <span class="text-sm text-secondary-inverse tracking-wide capitalize">{{obj.label}}</span>
                        </mat-chip-option>

                    </mat-chip-listbox>
                    <!-- <div class="text-secondary-inverse text-xl font-semibold">interests: {{interest}}</div> -->
                </div>
            </div>
        </div>

        <div class="products-section flex flex-wrap w-full overflow-hidden fadeIn justify-around md:justify-center"
            *ngIf="!loadingProducts && products && !emptyScreen">

            <div class="top-categories flex flex-col items-center justify-center">
                <h2 class="text-lg md:text-xl font-secondary-inverse capitalize opacity-75 mb-4">Our top picks
                </h2>
                <div class="row w-full overflow-x-auto flex flex-wrap">
                    <div class="top-product cursor-pointer mr-4 flex flex-col items-center justify-center px-4 py-1 bg-dark rounded-full mb-4"
                        [ngClass]="category == selectedCategory ? 'selected' :'chip'"
                        *ngFor="let category of recommendedCategories" (click)="selectedCategory = category" matRipple>
                        <h3 class="font-secondary-inverse capitalize opacity-75 text-sm px-4">{{category}}
                        </h3>

                    </div>
                </div>

            </div>
            <div class="w-full" *ngIf="productsByCategory">
                <app-product-rows [scrollable]="false"
                    [products]="productsByCategory[selectedCategory] | slice:0:10"></app-product-rows>
            </div>

            <!-- <div class="w-full overflow-hidden" *ngFor="let category of recommendedCategories">
                <app-product-rows [title]="category" [products]="productsByCategory[category]"></app-product-rows>
            </div> -->

            <!-- <div class="card-container md:mr-8 mb-8" *ngFor="let product of products;let last = last">
                <app-product-card [productData]="product"></app-product-card>
            </div> -->

        </div>

        <div class="other-section flex flex-col py-4 flex items-center justify-around md:justify-center"
            *ngIf="!loadingProducts && otherProducts && !emptyScreen">
            <h2 class="text-xl md:text-3xl font-secondary-inverse capitalize">Other products you may like:</h2>
            <div class="products-section flex flex-wrap w-full py-4 overflow-hidden fadeIn justify-center">

                <div class="card-container md:mr-8 mb-8" *ngFor="let product of otherProducts;let last = last">
                    <app-product-card [productData]="product"></app-product-card>
                </div>

            </div>
        </div>
        <div class="empty-screen flex items-center justify-center" *ngIf="emptyScreen">

            <img class="w-40 h-auto py-4" src="../../../../assets/svg/404.svg" alt="">
        </div>

    </div>
    <div class="footer flex py-4 items-center fadeIn" [class.justify-center]="products || emptyScreen">
        <button class="bg-primary py-2 px-6 rounded" (click)="submit()" matRipple
            *ngIf="!loadingProducts && !products && !emptyScreen">
            <span class="text-secondary-inverse">Submit</span>
        </button>
        <button class="bg-primary py-2 px-6 rounded" [class.justify-center]="emptyScreen" (click)="reset()" matRipple
            *ngIf="(!loadingProducts && products) || emptyScreen">
            <span class="text-secondary-inverse">Search Again</span>
        </button>
    </div>

</div>