<!-- NOTE Navbar -->
<nav class="navbar px-6 md:px-20 w-full h-16 md:h-20 bg-dark text-white py-4">
  <div class="w-full h-full flex items-center justify-between">
    <div class="left-section">
      <a class="navbar-brand flex items-center justify-center" [routerLink]="['/']">
        <div class="flex items-center justify-center w-8 h-8 md:w-10 md:h-10">
          <img src="https://giftpickr-web.s3.ap-south-1.amazonaws.com/assets/GiftPickr-logo.png"
            [alt]="appName + ' Logo'" class="img-fluid me-2 w-auto h-auto" />
        </div>
        <div class="title text-lg md:text-2xl px-4 mt-2 flex items-center justify-center">
          <span class="text-white font-special flex items-center justify-center ">{{ appName }}</span>
        </div>
      </a>
    </div>

    <div class="right-section">
      <div class="form-link flex items-center justify-center cursor-pointer">
        <div class="flex-1 flex items-center justify-center whitespace-nowrap cursor-pointer pr-2">
          <a [routerLink]="'/find-gift'">
            <span class="white-text mt-2">
              Lets pick a
              gift!</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- NOTE Content -->
<ng-content></ng-content>