<div class="featured-section py-4 flex flex-col items-center justify-center">
  <h1 class="text-secondary-inverse font-special text-2xl font-semibold mb-4">Check out our favorite gifts for
    any
    occasion
  </h1>
  <div class="content py-1 w-full flex items-center justify-center overflow-hidden ">
    <div class="left-arrow"></div>
    <div class="right-arrow"></div>

    <div class="card-list flex items-start justify-start md:justify-center w-full overflow-x-auto">
      <div class="card-container mr-6 md:mr-10" *ngFor="let product of featuredProducts">
        <app-product-card [productData]="product"></app-product-card>
      </div>

    </div>
  </div>

</div>