<div class="featured-section py-4 flex flex-col items-center justify-center">
  <h1 class="text-secondary-inverse font-special text-2xl font-semibold mb-4">Check out our favorite gifts for
    any
    occasion
  </h1>
  <div class="content relative py-1 w-full flex items-center justify-center overflow-hidden ">
    <div class="left-arrow hidden md:flex items-center justify-center absolute left-0 z-30 fadeIn cursor-pointer"
      *ngIf="isScrollable && !isAtStart" (click)="scrollLeft()">
      <span class="material-icons pulse text-secondary mx-1 mb-1 text-4xl text-secondary-inverse  relative z-50 mt-1">
        chevron_left
      </span>
    </div>
    <div class="right-arrow hidden md:flex items-center justify-center absolute right-0 z-30 fadeIn  cursor-pointer"
      *ngIf="isScrollable && !isAtEnd" (click)="scrollRight()">
      <span class="material-icons pulse text-secondary mx-1 mb-1 text-4xl text-secondary-inverse relative z-50 mt-1">
        chevron_right
      </span>
    </div>



    <div class="card-list flex items-start justify-start  w-full overflow-x-auto hide-scroll"
      [class.md:justify-center]="!isScrollable" #cardList>
      <div class="card-container" *ngFor="let product of featuredProducts;let last = last" [class.md:mr-10]="!last"
        [class.mr-6]="!isScrollable && !last">
        <app-product-card [productData]="product"></app-product-card>
      </div>

    </div>
  </div>

</div>